.app {
  text-align: center;
}

.appHeader {
  font-family: 'Pacifico';
  background-color: #eb513d;
  padding: 5px 30px 5px 30px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headline {
  font-size: 2em;
  margin: 20px;
  color: #ffffff;
}

.searchAndFilter {
  background-color: #ff5943;
  padding: 5px 50px 5px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.appLink {
  color: white;
  text-decoration: none;
  font-size: 1.4em;
  margin: 2ch;
}

.appLink:hover {
  text-decoration: underline;
}

.loginButton {
  background-color: #ffffff;
  border-radius: 3px;
}

.addButton {
  margin-right: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ff5943;
  background-color: #ffffff;
  border: 1px #0c0c0b solid;
  border-radius: 6px;
  width: 60px;
}

.main {
  display: flex;
  background-color: #FFFFFF;
  min-height: 100vh;
}



.layoutContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the top */
  flex: 1;
}

.contentContainer {
  width: 90%; /* Adjust the width of the content to take more space */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}

.footer {
  background-color: #4e1001; /* Purple color */
  color: white;
  position: fixed;
  width: 100%;
  height: 40px;
  bottom: 0;
  text-align: center;
  font-size: small;
}

input {
  width: 250px;
}

