/* App.module.css */
.app {
  text-align: center;
}

.appHeader {
  background-color: #53474F;
  padding: 5px 30px 5px 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appLogo {
  height: 100px;
}

.appNav {
  display: flex;
  gap: 30px;
}

.appLink {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  margin-right: 15px;

}

.appLink:last-child {
  margin-right: 0;
}

.appLink:hover {
  text-decoration: underline;
}

.main {
  padding: 20px;
  background-color: #FFDCE8;
  height: 100vh;
}

.footer {
  padding: 10px;
  background-color: #53474F;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.input {
  width: 100%;
  max-width: 300px;
  padding: 8px;
}

.error {
  color: red;
  /* Makes the text red to indicate an error */
  font-weight: bold;
  /* Makes the text bold */
  background-color: #f8d7da;
  /* Light red background for visibility */
  border: 1px solid red;
  /* Adds a red border */
  padding: 10px;
  /* Adds padding to give some space inside the box */
  border-radius: 5px;
  /* Rounds the corners for a smoother look */
  margin-top: 10px;
  /* Adds space between the input field and the error message */
  text-align: center;
  /* Centers the error message text */
  width: 100%;
  /* Make the error message take the full width of the form */
  max-width: 400px;
  /* Optionally limit the max width */
  display: block;
  /* Ensure it shows up as a block */
}